<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310268323776-mg5trjb5ns6puncqgm1c88ingqrkoflr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310268323776-mg5trjb5ns6puncqgm1c88ingqrkoflr</string>
	<key>API_KEY</key>
	<string>AIzaSyCCOJaN2etQB5-gDMeW6HUvRS9vop5Kjfc</string>
	<key>GCM_SENDER_ID</key>
	<string>310268323776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beerapp.we.dev</string>
	<key>PROJECT_ID</key>
	<string>beerapp-7c898</string>
	<key>STORAGE_BUCKET</key>
	<string>beerapp-7c898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310268323776:ios:f9dc8c52bf7d79e7840a25</string>
</dict>
</plist>